#mapbox{
    width: 100%;
}

#opening-map, #closing-map, #open-closing-map{
    width: 33%;
    flex-wrap: wrap;
}

#mapid, #mapid2, #mapid3 { 
    height: 450px;
    width: auto;
    /* min-width: 25rem; */
    margin: 1rem;
}

#histo {
    height: 400px;
    width: 800px;
}

body{
    background: offwhite;
}


#content-container {
    padding: 2rem;
    margin: 6rem;
    margin-top: 4rem;
    padding-top: 30px;
    background: whitesmoke;
    /* border-style: double; */
}

h1{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 36px;
    margin-top: 0rem;
}

h2{
    font-family: "Libre Franklin"
}

p{
    font-family: "Open Sans";
    font-size: 20px;
}

b{
    font-weight: 600;
}



/* Histogram Styling */
.bar {
    shape-rendering: crispEdges;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}